body{
    background-color: #edf0f5;
    padding: 0px 0px;
}
/*css for body*/
.header{
    background-color: white;
    border:none;
    box-shadow: 1px 1px 1px 1px rgb(204, 204, 204);
    
    
}
/*css for logo and input area*/
.logo-input{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    column-gap: 10px;
    
}
/*css for logo*/
.logo-input img{
    width:50px;
    height:50px;
}
/*css for search bar*/
.logo-input input{
    width: 250px;
    font-size: 20px;
    border:none;
    border-radius: 10%/50%;
    background-color: silver;
}

/*css for navigate area*/
.nav-a{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-a a{
    width:100px;
    display: flex;
    justify-content: center;
}

/*create effect for icons on navigate area*/
.nav-a a:hover{
    background-color:silver;
}



/*css for user and notifications area*/
.user-noti{
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
/*css for user */
.user{
    display:flex;
    align-items: center;
    flex-direction: row;
    column-gap: 10px;
    border:none;
    border-radius: 20%;
}
.user img{
    width:40px;
    height:40px;
    border: 1px solid;
    border-radius: 50%;
}
/*create effect for user button hover*/
.user:hover{
    background-color:silver;
}


/*css for noti button*/
.noti button{
    border:none;
    background-color: rgb(236, 236, 236);
    border-radius: 50%;
    
}
/*create effect for noti button hover*/
.noti button:hover{
    background-color:silver;
}

/*css for main*/
/*---------------------------------------------------*/
/*css for left side*/
/*css for short-cut */
.short-cut a{
    text-decoration: none;
}
.footer ul{
    display: flex;
    flex-wrap: wrap;
}
.footer li{
    float: left;
    color: rgb(61, 61, 61);
    font-size: 20px;
    text-indent: -10px;
    padding-right: 30px;
    
}

.footer li a{
    text-decoration: none;
    color: rgb(61, 61, 61);
}
/*create hover effect for short-cut items*/
.short-cut .user:hover{
        background-color:silver;
        cursor: pointer;
}
/*create hover effect for footer item*/
.footer li:hover{
    text-decoration: underline;
}
/*----------------------------------------------*/
/*css for middle side*/
/*css for story*/
.story{
    display: flex;
    flex-wrap: nowrap;
    width:100%;
    overflow-x: scroll;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
}

.story button{
    width: 150px;
    height: 250px;
    border: none;
    border-radius: 10%;
    background-image: url("img/storyPic.jpg");
    background-size: 150px 250px;
    font-size:25px;
    color:white;
    font-weight:600;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.story button img{
    width: 50px;
    height: 50px;
    border: solid rgb(57, 57, 221);
    border-radius: 50%;
}
/*css create hover effect for story*/
.story button:hover{
    filter: blur(2px);
    cursor: pointer;
    
}


/*css for hidden scrollbar without removing functionality*/
.story::-webkit-scrollbar {
    display: none;
}

/*----------------------------------------------*/


/*css for right side*/
.main-right{
    overflow: scroll;
    height:800px;
}
/*css for the top area (list-icons)*/
.list-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*css for icons buttons*/
.list-icons span{
    font-size: 30px;
    color: rgb(107, 107, 107);
}
.list-icons button{
    border:none;
}

/*css for the list*/

.main-right h3{
    color: rgb(107, 107, 107);
}

/*css for the chat available*/

.chat-avail ul{
    list-style-type: none;
    display: inline;
}

.chat-avail li{
display:flex;
column-gap: 20px;
align-items: center;
}
/*create hover effect for li*/
.chat-avail li:hover{
    background-color:silver;
    cursor: pointer;
}