body{
    background-color: #edf0f5;
    padding: 0px 0px;
}
/*css for body*/
.header{
    background-color: white;
    border:none;
    box-shadow: 1px 1px 1px 1px rgb(204, 204, 204);
    
    
}
/*css for logo and input area*/
.logo-input{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    column-gap: 10px;
    
}
/*css for logo*/
.logo-input img{
    width:50px;
    height:50px;
}
/*css for search bar*/
.logo-input input{
    width: 250px;
    font-size: 20px;
    border:none;
    border-radius: 10%/50%;
    background-color: silver;
}

/*css for navigate area*/
.nav-a{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/*css for user and notifications area*/
.user-noti{
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
/*css for user */
.user{
    display:flex;
    align-items: center;
    flex-direction: row;
    column-gap: 10px;
}
.user img{
    width:40px;
    height:40px;
    border: 1px solid;
    border-radius: 50%;
}
/*css for noti button*/
.noti button{
    border:none;
    background-color: silver;
    border-radius: 50%;
    
}


/*css for main*/

/*css for left side*/
/*css for short-cut */
.short-cut a{
    text-decoration: none;
}
.footer ul{
    display: flex;
    flex-wrap: wrap;
}
.footer li{
    float: left;
    color: rgb(61, 61, 61);
    font-size: 20px;
    text-indent: -10px;
    padding-right: 30px;
    
}

.footer li a{
    text-decoration: none;
    color: rgb(61, 61, 61);
}