/*css for all*/

html,
body {
    background-color: rgb(167, 167, 255);
}


/*css for header*/

.header {
    background-color: rgb(153, 92, 145);
    padding: 10px;
    align-items: center;
}

.header img {
    width: 25px;
    height: 35px;
}

.title {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
    cursor: pointer;
}

.title h4 {
    font-weight: 900;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.search-bar {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
}

.search-bar span {
    cursor: pointer;
}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.head-button a {
    text-decoration: none;
    color: black;
}

.head-button {
    display: flex;
    align-items: center;
    background-color: silver;
}

.head-button:hover {
    background-color: pink;
}


/*css for body*/


/*css for left*/

.left {
    background-color: silver;
    height: 100%;
}

.left h4 {
    font-weight: bold;
}

li {
    font-size: 20px;
    padding-top: 20px;
    cursor: pointer;
}

li a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

li:hover {
    background-color: pink;
}


/*css for right*/

#delete-btn:hover {
    background-color: pink;
}

#choose:hover {
    background-color: pink;
}

#tblList {
    color: rgb(255, 255, 255);
    background-color: rgb(97, 97, 97);
}

tr:hover {
    background-color: rgb(226, 226, 226);
}